body,
.container,
.row,
.col {
    padding: 0;
    margin: 0;
}

/* Example: Changing Bootstrap's primary color */
.btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.home{
    background-color:  hsl(0, 0%, 98%);
    padding-top: 1rem;
}
.search{

    border: 0.05rem solid black;
    border-radius: 0.2rem;
    background-color: white;
    width: 34%;
    padding: 0.5% 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    input{
      border: none;
      padding: 1.2% 1%;
      width: 80%;
      outline: none;
    }
  }

.search_row{
    display: flex;
    justify-content: space-between;
    padding: 0 8%;
    i{
        padding: 0 2% 0 5%;

    }
}
.filter_container_region, .filter_container_subregion, .sort_by_population_container, .sort_by_area_container{
    width: 15%;
}
.filter_container_region:hover, .filter_container_subregion:hover, .sort_by_population_container:hover, .sort_by_area_container{
    cursor: pointer;
}
.filter_by_region, .filter_by_subregion, .sort_by_population, .sort_by_area{
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    input{
        border: none;
        padding: 1.2% 1%;
        width: 80%;
    }

    background-color: white;
}

.countries{
    margin: 0 8%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.search_country::placeholder {
    color: rgb(43, 57, 69);;
}
.search_country.darkmode::placeholder{
    color: white;
}