
.dropdown{
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 12.5%;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    padding: 0.5rem 0;


    span{
        width: 100%;
        text-align: center;
        margin: 0.2rem 0;
    }
    span:hover{
        cursor: pointer;
    }

}
.dropdown-option .selected{
    border: 2px solid black;
}

