.navbar{
    height: 5rem;
}
.navbar_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4.7rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    /* border-bottom: 0.4rem solid #f5f2f2; */
    padding: 0 8%;
    i{
        padding: 0 1rem;
    }
    button{
        border: none;
    }


}

.change_background{
    display: flex;
    align-items: center;
}
.change_background:hover{
    cursor: pointer;
}
button:hover{
    cursor: pointer;
}
.dark_btn{
    background-color: hsl(209, 23%, 22%);
    color: white;
    font-size: 1rem;
}
.light_btn{
    background-color: white;
    font-size: 1rem;
}